<footer class="footer-main">

    <p class="extra">
        {{ site.name }} © {{ site.time | date: '%Y' }} •
        <!-- <a class="link" href="{{ site.url }}/feed.xml" target="_blank">Feed</a> • -->
        <a class="link" href="{{ "/impressum/" | absolute_url }}">Impressum</a> • 
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a>
        •
        <button class="link theme-toggle" id="theme-toggle" aria-label="Toggle dark/light theme" title="Toggle dark/light theme">
            <i class="fa-regular fa-moon theme-icon-dark"></i>
            <i class="fa-regular fa-sun theme-icon-light"></i>
        </button>
    </p>
</footer>
