<!-- To add more icons, duplicate a section and find your icon here -> https://fontawesome.com/icons -->

<div class="social-links">
    {% if site.facebook %}
        <a class="link" data-title="facebook.com/{{ site.facebook }}" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener" alt="anchor link for social media facebook" aria-label="anchor link for social media facebook">
            <i class="fa-brands fa-facebook"></i>
        </a>
    {% endif %}

    {% if site.twitter %}
        <a class="link" data-title="twitter.com/{{ site.twitter }}" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener" alt="anchor link for social media twitter" aria-label="anchor link for social media twitter">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
    {% endif %}

    {% if site.mastodon %}
        <a class="link" data-title="{{ site.mastodon }}" href="https://{{ site.mastodon }}" rel="me" target="_blank" alt="anchor link for social media mastodon" aria-label="anchor link for social media mastodon">
            <i class="fa-brands fa-mastodon"></i>
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link" data-title="instagram.com/{{ site.instagram }}" href="https://instagram.com/{{ site.instagram }}" target="_blank"  rel="noopener" alt="anchor link for social media instagram" aria-label="anchor link for social media instagram">
            <i class="fa-brands fa-instagram"></i>
        </a>
    {% endif %}

    {% if site.youtube %}
        <a class="link" data-title="youtube.com/{{ site.youtube }}" href="https://youtube.com/{{ site.youtube }}" target="_blank" rel="noopener" alt="anchor link for social media youtube" aria-label="anchor link for social media youtube">
            <i class="fa-brands fa-youtube"></i>
        </a>
    {% endif %}

    {% if site.spotify %}
        <a class="link" data-title="open.spotify.com/user/{{ site.spotify }}" href="https://open.spotify.com/user/{{ site.spotify }}" target="_blank" rel="noopener" alt="anchor link for social media spotify" aria-label="anchor link for social media spotify">
            <i class="fa-brands fa-spotify"></i>
        </a>
    {% endif %}

    {% if site.lastfm %}
        <a class="link" data-title="last.fm/user/{{ site.lastfm }}" href="https://last.fm/user/{{ site.lastfm }}" target="_blank" rel="noopener" alt="anchor link for social media lastfm" aria-label="anchor link for social media lastfm">
            <i class="fa-brands fa-lastfm"></i>
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"  rel="noopener" alt="anchor link for social media linkedin" aria-label="anchor link for social media linkedin">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank"  rel="noopener" alt="anchor link for social media github" aria-label="anchor link for social media github">
            <i class="fa-brands fa-github"></i>
        </a>
    {% endif %}

    {% if site.stackoverflow %}
        <a class="link" data-title="stackoverflow.com/users/{{ site.stackoverflow }}" href="https://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" rel="noopener" alt="anchor link for social media stackoverflow" aria-label="anchor link for social media stackoverflow">
            <i class="fa-brands fa-stack-overflow"></i>
        </a>
    {% endif %}

    {% if site.researchgate %}
        <a class="link" data-title="researchgate.net/profile/{{ site.researchgate }}" href="https://www.researchgate.net/profile/{{ site.researchgate }}" target="_blank" rel="noopener" alt="anchor link for social media researchgate" aria-label="anchor link for social media researchgate">
            <i class="fa-brands fa-researchgate"></i>
        </a>
    {% endif %}

    {% if site.google-scholar %}
        <a class="link" data-title="scholar.google.com/citations?user={{ site.google-scholar }}" href="https://scholar.google.com/citations?user={{ site.google-scholar }}" target="_blank" rel="noopener" alt="anchor link for social media google scholar" aria-label="anchor link for social media google scholar">
            <i class="fa-brands fa-google-scholar"></i>
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}"  rel="noopener" alt="anchor link for email" aria-label="anchor link for email">
            <i class="fa-regular fa-envelope"></i>
        </a>
    {% endif %}
</div>
