---
---

{{reference}}

{% if entry.abstract %}
<a href="javascript:toggle_visibility('{{key}}-abstract')">Abstract</a> &bull;
{% endif %}
    
<a href="javascript:toggle_visibility('{{key}}-bibtex')">BibTeX</a>

{% if entry.pdf %}
&bull; <a href="{{entry.pdf}}">PDF</a>
{% endif %}

{% if entry.url %}
&bull; <a href="{{entry.url}}">URL</a>
{% endif %}
    
{% if entry.doi %}
&bull; DOI: <a href="http://dx.doi.org/{{entry.doi}}">{{entry.doi}}</a>
{% endif %}
    
<div id="{{key}}-bibtex" class="collapse">
    <pre>{{entry.bibtex}}</pre>
</div>

{% if entry.abstract %}
<div id="{{key}}-abstract" class="collapse abstract">
    {{entry.abstract}}
</div>
{% endif %}
